* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

ul, li, ol {
  list-style: none;
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "SUIT-Regular";
}

#nav {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#nav #nav_left {
  width: 400px;
  height: 100%;
  font-weight: 600;
  font-size: 14.5px;
}
#nav #nav_left li {
  display: flex;
  align-items: center;
  float: left;
  margin: 5px 5px 5px -4px;
  padding: 5px 5px 5px 20px;
}
#nav #nav_left li a {
  color: #858785;
}
#nav #nav_left li:nth-child(3) a {
  color: #141414;
}
#nav #nav_right {
  width: 160px;
  height: 100%;
  font-weight: 600;
  font-size: 14.5px;
}
#nav #nav_right li {
  display: flex;
  align-items: center;
  float: left;
  margin: 1%;
  padding: 7px 10px 5px 10px;
  color: #858785;
}
#nav #nav_right li a {
  color: #858785;
}

#category {
  width: 1200px;
  height: 130px;
  margin: 0 auto;
}
#category hr {
  width: 97%;
  margin: 0 auto;
  color: #f0f0f0;
  opacity: 0.1;
}
#category .ct_top {
  width: 100%;
  height: 65px;
  display: flex;
}
#category .ct_top .logo {
  width: 55%;
  height: 100%;
}
#category .ct_top .logo img {
  padding: 10px;
}
#category .ct_top .logo p {
  font-size: 30px;
  font-weight: 900;
}
#category .ct_top .icons {
  width: 45%;
  height: 100%;
  display: flex;
}
#category .ct_top .icons .search {
  width: 57%;
  height: 100%;
  padding: 7px;
}
#category .ct_top .icons .search input {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  margin: 5px 15px;
  border: none;
  background-color: #f0f0f0;
  position: relative;
}
#category .ct_top .icons .search img {
  position: absolute;
  width: 30px;
  top: 6%;
  right: 43.8%;
}
#category .ct_top .icons .icon {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#category .ct_top .icons .icon img {
  width: 30px;
}
#category .ct_top .icons .icon svg {
  width: 30px;
}
#category .ct_bottom {
  width: 100%;
  height: 50%;
  display: flex;
}
#category .ct_bottom h2 {
  width: 50%;
  height: 100%;
  padding: 15px 15px;
  color: #1e9eff;
  font-size: 25px;
}
#category .ct_bottom .ham {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#category .ct_bottom .ham img {
  width: 25px;
  height: 25px;
  margin: 1%;
}
#category .ct_bottom .ham svg {
  width: 30px;
}
#category .ct_bottom .ham p {
  font-weight: bold;
  padding: 10px 20px 10px 5px;
}

.book_slide {
  width: 1200px;
  height: 470px;
  margin: 0 auto;
}
.book_slide .cate {
  width: 100%;
  height: 55px;
}
.book_slide .cate button {
  width: auto;
  height: 35px;
  color: #fff;
  border: none;
  margin: 10px 0px 0px 15px;
  text-align: center;
  border-radius: 30px;
  background-color: #1e9eff;
  padding: 5px 10px;
  font-family: "SUIT-Regular";
  font-size: 16px;
  font-weight: bold;
}
.book_slide .cate .two {
  margin: 0 -3px;
  color: #141414;
  background: none;
}
.book_slide .slidewrap {
  width: 1200px;
  position: relative;
}
.book_slide .slidewrap .slide {
  width: 1200px;
  height: 415px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}
.book_slide .slidewrap .slide .sd {
  height: 100%;
  border-radius: 5px;
  margin: 0 5px;
  color: #fff;
  background-color: #876ab8;
  position: relative;
}
.book_slide .slidewrap .slide .sd:nth-of-type(2) {
  flex-basis: 48px;
}
.book_slide .slidewrap .slide .sd:nth-of-type(3) {
  flex-basis: 48px;
}
.book_slide .slidewrap .slide .sd:nth-of-type(4) {
  flex-basis: 0;
  display: none;
}
.book_slide .slidewrap .slide .sd:nth-of-type(5) {
  flex-basis: 0;
  display: none;
}
.book_slide .slidewrap .slide .sd:nth-of-type(6) {
  flex-basis: 0;
  display: none;
}
.book_slide .slidewrap .slide .sd:nth-of-type(7) {
  flex-basis: 0;
  display: none;
}
.book_slide .slidewrap .slide .sd:nth-of-type(8) {
  flex-basis: 0;
  display: none;
}
.book_slide .slidewrap .slide .sd:nth-of-type(9) {
  flex-basis: 0;
  display: none;
}
.book_slide .slidewrap .slide .sd:nth-of-type(10) {
  flex-basis: 0;
  display: none;
}
.book_slide .slidewrap .slide .sd.e1 {
  flex-grow: 1;
  background-image: url("//active.ridibooks.com/ridibooks_banner/1693545718269_MjMwODMw.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e2 {
  flex-grow: 0;
  background-image: url("//active.ridibooks.com/ridibooks_banner/1693467066081_MjMwODIz.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e3 {
  flex-grow: 0;
  background-image: url("//active.ridibooks.com/ridibooks_banner/1694064862262_w6vCucKF.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e3 .tag2 {
  width: 79px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0px 0px 8px 0px;
}
.book_slide .slidewrap .slide .sd.e3 .tag2 p {
  font-size: 10px;
  margin: 2px 4px;
}
.book_slide .slidewrap .slide .sd.e4 {
  flex-grow: 0;
  background-image: url("//active.ridibooks.com/ridibooks_banner/1693893649400_MjMwODI1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e4 .tag2 {
  width: 79px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0px 0px 8px 0px;
}
.book_slide .slidewrap .slide .sd.e4 .tag2 p {
  font-size: 10px;
  margin: 2px 4px;
}
.book_slide .slidewrap .slide .sd.e5 {
  flex-grow: 0;
  background-image: url(//active.ridibooks.com/ridibooks_banner/1693462543784_MjMwODIz.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e5 .tag2 {
  width: 79px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0px 0px 8px 0px;
}
.book_slide .slidewrap .slide .sd.e5 .tag2 p {
  font-size: 10px;
  margin: 2px 4px;
}
.book_slide .slidewrap .slide .sd.e6 {
  flex-grow: 0;
  background-image: url("//active.ridibooks.com/ridibooks_banner/1693806621450_MjMwOTA0.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e6 .tag2 {
  width: 79px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0px 0px 8px 0px;
}
.book_slide .slidewrap .slide .sd.e6 .tag2 p {
  font-size: 10px;
  margin: 2px 4px;
}
.book_slide .slidewrap .slide .sd.e7 {
  flex-grow: 0;
  background-image: url("//active.ridibooks.com/ridibooks_banner/1693463394870_w6vCucKF.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e7 .tag2 {
  width: 75px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0px 0px 8px 0px;
}
.book_slide .slidewrap .slide .sd.e7 .tag2 p {
  font-size: 10px;
  margin: 2px 4px;
}
.book_slide .slidewrap .slide .sd.e8 {
  flex-grow: 0;
  background-image: url("//active.ridibooks.com/ridibooks_banner/1693809778918_MjMwOTAx.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e8 .tag2 {
  width: 45px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0px 0px 8px 0px;
}
.book_slide .slidewrap .slide .sd.e8 .tag2 p {
  font-size: 10px;
  margin: 2px 4px;
}
.book_slide .slidewrap .slide .sd.e9 {
  flex-grow: 0;
  background-image: url("//active.ridibooks.com/ridibooks_banner/1693372622852_MjMwODI5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e9 .tag2 {
  width: 75px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0px 0px 8px 0px;
}
.book_slide .slidewrap .slide .sd.e9 .tag2 p {
  font-size: 10px;
  margin: 2px 4px;
}
.book_slide .slidewrap .slide .sd.e10 {
  flex-grow: 0;
  background-image: url(//active.ridibooks.com/ridibooks_banner/1694153604743_MjMwODE4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.book_slide .slidewrap .slide .sd.e10 .tag {
  width: 35px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0px 0px 8px 0px;
}
.book_slide .slidewrap .slide .sd.e10 .tag img {
  width: 35px;
  margin: -2px 0 0 0px;
}
.book_slide .slidewrap .slide .sd .title {
  width: 1064px;
  height: 200px;
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: -1%;
  left: 6%;
  z-index: 1;
}
.book_slide .slidewrap .slide .sd .title p {
  width: 350px;
  background: none;
  font-size: 33px;
  font-weight: bold;
  font-family: "SUIT-Regular";
}
.book_slide .slidewrap .slide .sd .title h4 {
  line-height: 160%;
  margin: 10px 0;
}
.book_slide .slidewrap .slide .sd .title h6 {
  line-height: 180%;
}
.book_slide .slidewrap .slide .sd .title .num {
  width: 45px;
  height: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.267);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  position: absolute;
  top: 70%;
  right: 13%;
}
.book_slide .slidewrap .slide .sd:not(:first-of-type) .bg_op {
  opacity: 0;
}
.book_slide .slidewrap .slide .sd .bg_op {
  width: 100%;
  height: 55%;
  position: absolute;
  border-radius: 5px;
  top: 45%;
  box-shadow: inset 0em -9em 75px rgba(41, 39, 39, 0.623);
}
.book_slide .slidewrap .slide .sd .bg_op.bg2 {
  box-shadow: inset 0em -10em 75px rgb(135, 106, 183);
}
.book_slide .slidewrap .slide .sd .bg_op.bg3 {
  box-shadow: inset 0em -10em 75px rgb(31, 116, 180);
}
.book_slide .slidewrap .slide .sd .bg_op.bg4 {
  box-shadow: inset 0em -10em 75px rgb(21, 73, 17);
}
.book_slide .slidewrap .slide .sd .bg_op.bg5 {
  box-shadow: inset 0em -10em 75px rgb(72, 145, 154);
}
.book_slide .slidewrap .slide .sd .bg_op.bg6 {
  box-shadow: inset 0em -10em 75px rgb(108, 74, 163);
}
.book_slide .slidewrap .slide .sd .bg_op.bg7 {
  box-shadow: inset 0em -10em 75px rgb(198, 51, 87);
}
.book_slide .slidewrap .slide .sd .bg_op.bg9 {
  box-shadow: inset 0em -10em 75px rgb(37, 173, 63);
}
.book_slide .slidewrap span {
  position: absolute;
  display: block;
  font-size: 24px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0px -1px;
  z-index: 1;
}
.book_slide .slidewrap .prev {
  left: 0;
  top: 45%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
.book_slide .slidewrap .prev:hover {
  cursor: pointer;
  opacity: 0.9;
}
.book_slide .slidewrap .next {
  right: 0;
  top: 45%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
.book_slide .slidewrap .next:hover {
  cursor: pointer;
  opacity: 0.9;
}

.dot {
  width: 1200px;
  height: 150px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.dot .dots {
  width: 75px;
  margin: 1%;
  text-align: center;
  font-size: 14px;
  font-family: "Pretendard-Regular";
}
.dot .dots img {
  width: 70px;
}
.dot .dots img:first {
  width: 75px;
}
.dot .dots img:hover {
  cursor: pointer;
}
.dot .dots p {
  margin: 3%;
}

#today {
  width: 1200px;
  height: 370px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
}
#today h2 {
  width: 100%;
  margin: 1%;
}
#today pre {
  position: absolute;
  display: block;
  font-size: 20px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
  padding: 8px 1px;
  margin: 0px -1px;
}
#today pre img {
  width: 15px;
  height: 17px;
  margin: 4px 12px;
}
#today .prev4 {
  left: -1.9%;
  top: 48%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#today .prev4:hover {
  cursor: pointer;
  opacity: 0.8;
}
#today .next4 {
  right: -1.7%;
  top: 48%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#today .next4:hover {
  cursor: pointer;
  opacity: 0.8;
}
#today #td_slidewrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#today #td_slidewrap #td_wrap {
  width: 2400px;
  height: 325px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
#today #td_slidewrap #td_wrap .td_slide {
  width: 1200px;
  display: flex;
}
#today #td_slidewrap #td_wrap .td_slide .td_book {
  width: 190px;
  height: 310px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: left;
  margin: 5px;
  padding: 0 5px;
}
#today #td_slidewrap #td_wrap .td_slide .td_book img {
  width: 180px;
}
#today #td_slidewrap #td_wrap .td_slide .td_book p {
  margin: 5px 0;
  font-weight: bold;
}
#today #td_slidewrap #td_wrap .td_slide2 {
  width: 1200px;
  display: flex;
}
#today #td_slidewrap #td_wrap .td_slide2 .td_book {
  width: 190px;
  height: 310px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: left;
  margin: 5px;
  padding: 0 5px;
}
#today #td_slidewrap #td_wrap .td_slide2 .td_book img {
  width: 180px;
}
#today #td_slidewrap #td_wrap .td_slide2 .td_book p {
  margin: 5px 0;
  font-weight: bold;
}

#now_wrap {
  width: 1200px;
  height: 480px;
  margin: 0 auto;
  position: relative;
}
#now_wrap h2 {
  width: 100%;
  height: 2%;
  margin: 2.5% 1%;
}
#now_wrap pre {
  position: absolute;
  display: block;
  font-size: 20px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
  padding: 8px 1px;
  margin: 0px -1px;
}
#now_wrap pre img {
  width: 15px;
  height: 17px;
  margin: 4px 12px;
}
#now_wrap .prev2 {
  left: -1.9%;
  top: 49%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#now_wrap .prev2:hover {
  cursor: pointer;
  opacity: 0.8;
}
#now_wrap .next2 {
  right: -1.7%;
  top: 49%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#now_wrap .next2:hover {
  cursor: pointer;
  opacity: 0.8;
}
#now_wrap #slidewrap {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}
#now_wrap #slidewrap #now_slide {
  width: 2400px;
  height: 400px;
  display: flex;
  flex-direction: row;
}
#now_wrap #slidewrap #now_slide .now {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#now_wrap #slidewrap #now_slide .now .now_bk {
  width: 380px;
  height: 115px;
  display: flex;
}
#now_wrap #slidewrap #now_slide .now .now_bk .thum {
  width: 25%;
  height: 100%;
  background-color: #fff;
}
#now_wrap #slidewrap #now_slide .now .now_bk .thum img {
  width: 100%;
  height: 100%;
}
#now_wrap #slidewrap #now_slide .now .now_bk .number {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
}
#now_wrap #slidewrap #now_slide .now .now_bk .tit {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#now_wrap #slidewrap #now_slide .now .now_bk .tit .name {
  width: 100%;
  height: 20%;
  font-weight: 600;
}
#now_wrap #slidewrap #now_slide .now .now_bk .tit .authors {
  width: 100%;
  height: 20%;
  font-size: 15px;
  color: #858785;
}
#now_wrap #slidewrap #now_slide .now .now_bk .tit .star {
  width: 100%;
  height: 20%;
  font-size: 13px;
  color: #DC3232;
}
#now_wrap #slidewrap #now_slide .now .now_bk .tit .star svg {
  width: 11px;
  height: 11px;
}
#now_wrap #slidewrap #now_slide .now .now_bk .tit .star .star2 {
  color: #858785;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 {
  width: 380px;
  height: 115px;
  display: flex;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 .thum2 {
  width: 25%;
  height: 100%;
  background-color: #fff;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 .thum2 img {
  width: 100%;
  height: 100%;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 .number2 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 .tit2 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 .tit2 .name2 {
  width: 100%;
  height: 20%;
  font-weight: 600;
  background-color: #fff;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 .tit2 .authors2 {
  width: 100%;
  height: 20%;
  font-size: 15px;
  color: #858785;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 .tit2 .star_1 {
  width: 100%;
  height: 20%;
  font-size: 13px;
  color: #DC3232;
  background-color: #fff;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 .tit2 .star_1 svg {
  width: 11px;
  height: 11px;
}
#now_wrap #slidewrap #now_slide .now .now_bk2 .tit2 .star_1 .star2_2 {
  color: #858785;
}

#MD_P {
  width: 1200px;
  height: 330px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#MD_P h2 {
  width: 100%;
  padding: 5px 10px;
}
#MD_P .pick {
  width: 390px;
  height: 230px;
  text-align: center;
  border-radius: 5px;
}
#MD_P .pick .pk {
  width: 100%;
  height: 60%;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
}
#MD_P .pick .pk .o1 {
  width: 100%;
  height: 65%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  background-color: #ddd0f6;
}
#MD_P .pick .pk .o1 img {
  height: 160%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 38%;
}
#MD_P .pick .pk .o2 {
  width: 100%;
  height: 65%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  background-color: #caf1ed;
}
#MD_P .pick .pk .o2 img {
  height: 160%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 38%;
}
#MD_P .pick .pk .o3 {
  width: 100%;
  height: 65%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  background-color: #f6d0de;
}
#MD_P .pick .pk .o3 img {
  height: 160%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 38%;
}
#MD_P .pick .ex p {
  line-height: 150%;
  padding: 10px 0 0 0;
  font-family: "Pretendard-Regular";
  font-weight: bold;
  font-size: 17px;
}
#MD_P .pick .name3 p {
  line-height: 150%;
}

#best_wrap {
  width: 1200px;
  height: 480px;
  margin: 0 auto;
  position: relative;
}
#best_wrap h2 {
  width: 100%;
  height: 2%;
  margin: 2.5% 1%;
}
#best_wrap pre {
  position: absolute;
  display: block;
  font-size: 20px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
  padding: 8px 1px;
  margin: 0px -1px;
}
#best_wrap pre img {
  width: 15px;
  height: 17px;
  margin: 4px 12px;
}
#best_wrap .prev3 {
  left: -1.9%;
  top: 48%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#best_wrap .prev3:hover {
  cursor: pointer;
  opacity: 0.8;
}
#best_wrap .next3 {
  right: -1.7%;
  top: 48%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#best_wrap .next3:hover {
  cursor: pointer;
  opacity: 0.8;
}
#best_wrap #best_slidewrap {
  width: 100%;
  overflow: hidden;
}
#best_wrap #best_slidewrap #best_slide {
  width: 2400px;
  height: 400px;
  display: flex;
  padding: 10px 0;
  margin: 10px 0;
  flex-direction: row;
}
#best_wrap #best_slidewrap #best_slide .best {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk {
  width: 380px;
  height: 115px;
  display: flex;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk .thum3 {
  width: 25%;
  height: 100%;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk .thum3 img {
  width: 100%;
  height: 100%;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk .number3 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk .tit3 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk .tit3 .name3 {
  width: 100%;
  height: 20%;
  font-weight: 600;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk .tit3 .authors3 {
  width: 100%;
  height: 20%;
  font-size: 15px;
  color: #858785;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk .tit3 .star3 {
  width: 100%;
  height: 20%;
  font-size: 13px;
  color: #DC3232;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk .tit3 .star3 svg {
  width: 11px;
  height: 11px;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk .tit3 .star3 .star4 {
  color: #858785;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 {
  width: 380px;
  height: 115px;
  display: flex;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 .thum4 {
  width: 25%;
  height: 100%;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 .thum4 img {
  width: 100%;
  height: 100%;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 .number4 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 .tit4 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 .tit4 .name4 {
  width: 100%;
  height: 20%;
  font-weight: 600;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 .tit4 .authors4 {
  width: 100%;
  height: 20%;
  font-size: 15px;
  color: #858785;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 .tit4 .star3_1 {
  width: 100%;
  height: 20%;
  font-size: 13px;
  color: #DC3232;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 .tit4 .star3_1 svg {
  width: 11px;
  height: 11px;
}
#best_wrap #best_slidewrap #best_slide .best .best_bk2 .tit4 .star3_1 .star4_2 {
  color: #858785;
}

#new {
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}
#new h2 {
  width: 100%;
  margin: 1%;
}
#new pre {
  position: absolute;
  display: block;
  font-size: 20px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
  padding: 8px 1px;
  margin: 0px -1px;
}
#new pre img {
  width: 15px;
  height: 17px;
  margin: 4px 12px;
}
#new .prev5 {
  left: -1.9%;
  top: 48%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#new .prev5:hover {
  cursor: pointer;
  opacity: 0.8;
}
#new .next5 {
  right: -1.7%;
  top: 48%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#new .next5:hover {
  cursor: pointer;
  opacity: 0.8;
}
#new #nw_slidewrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#new #nw_slidewrap #nw_slide {
  width: 1800px;
  height: 370px;
  display: flex;
  flex-direction: row;
}
#new #nw_slidewrap #nw_slide .nw_book {
  width: 190px;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: left;
  margin: 5px;
}
#new #nw_slidewrap #nw_slide .nw_book img {
  width: 180px;
  height: 65%;
  margin: 0 auto;
}
#new #nw_slidewrap #nw_slide .nw_book p {
  margin: 5px 0;
  font-weight: bold;
}
#new #nw_slidewrap #nw_slide .nw_book .titles {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#new #nw_slidewrap #nw_slide .nw_book .titles .tit_h4 {
  width: 100%;
  height: 25%;
  font-weight: 600;
}
#new #nw_slidewrap #nw_slide .nw_book .titles .writer {
  width: 100%;
  height: 25%;
  font-size: 15px;
  color: #858785;
}
#new #nw_slidewrap #nw_slide .nw_book .titles .grade {
  width: 100%;
  height: 25%;
  font-size: 13px;
  color: #DC3232;
}
#new #nw_slidewrap #nw_slide .nw_book .titles .grade svg {
  width: 11px;
  height: 11px;
}
#new #nw_slidewrap #nw_slide .nw_book .titles .grade .grade2 {
  color: #858785;
}
#new #nw_slidewrap #nw_slide .nw_book2 {
  width: 190px;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: left;
  margin: 5px;
}
#new #nw_slidewrap #nw_slide .nw_book2 img {
  width: 180px;
  height: 65%;
  margin: 0 auto;
}
#new #nw_slidewrap #nw_slide .nw_book2 p {
  margin: 5px 0;
  font-weight: bold;
}
#new #nw_slidewrap #nw_slide .nw_book2 .titles2 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#new #nw_slidewrap #nw_slide .nw_book2 .titles2 .tit_h4 {
  width: 100%;
  height: 25%;
  font-weight: 600;
}
#new #nw_slidewrap #nw_slide .nw_book2 .titles2 .writer {
  width: 100%;
  height: 25%;
  font-size: 15px;
  color: #858785;
}
#new #nw_slidewrap #nw_slide .nw_book2 .titles2 .grade {
  width: 100%;
  height: 25%;
  font-size: 13px;
  color: #DC3232;
}
#new #nw_slidewrap #nw_slide .nw_book2 .titles2 .grade svg {
  width: 11px;
  height: 11px;
}
#new #nw_slidewrap #nw_slide .nw_book2 .titles2 .grade .grade2 {
  color: #858785;
}

#banner {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
#banner pre {
  position: absolute;
  display: block;
  font-size: 20px;
  background-color: rgba(204, 203, 203, 0.4431372549);
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
  padding: 8px 1px;
  margin: 0px -1px;
  opacity: 0;
}
#banner pre img {
  width: 15px;
  height: 17px;
  margin: 4px 12px;
}
#banner .prev6 {
  left: 20%;
  top: 67%;
}
#banner .prev6:hover {
  cursor: pointer;
  background-color: rgba(182, 182, 182, 0.76);
}
#banner .next6 {
  right: 20%;
  top: 67%;
}
#banner .next6:hover {
  cursor: pointer;
  background-color: rgba(182, 182, 182, 0.76);
}
#banner .back1 {
  width: 100%;
  height: 100px;
  background-color: #45aee7;
}
#banner .back1 .img_bn {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#banner .back1 .img_bn .ppl {
  width: 100px;
  height: 100%;
  position: relative;
}
#banner .back1 .img_bn .ppl img {
  width: 100%;
  position: absolute;
  top: -45%;
  box-shadow: -3px -3px 3px rgba(66, 66, 66, 0.438);
  border-radius: 5px;
}
#banner .back1 .img_bn .story {
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner .back2 {
  width: 100%;
  height: 100px;
  display: none;
  background-color: #664baa;
}
#banner .back2 .img_bn {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#banner .back2 .img_bn .ppl {
  width: 100px;
  height: 100%;
  position: relative;
}
#banner .back2 .img_bn .ppl img {
  width: 100%;
  position: absolute;
  top: -45%;
  box-shadow: -3px -3px 3px rgba(66, 66, 66, 0.438);
  border-radius: 5px;
}
#banner .back2 .img_bn .story {
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner .back3 {
  width: 100%;
  height: 100px;
  display: none;
  background-color: #d4f09c;
}
#banner .back3 .img_bn {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#banner .back3 .img_bn .ppl {
  width: 100px;
  height: 100%;
  position: relative;
}
#banner .back3 .img_bn .ppl img {
  width: 100%;
  position: absolute;
  top: -45%;
  box-shadow: -3px -3px 3px rgba(66, 66, 66, 0.438);
  border-radius: 5px;
}
#banner .back3 .img_bn .story {
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#korean {
  width: 1200px;
  height: 580px;
  margin: 0 auto;
  position: relative;
}
#korean h2 {
  margin: 3% 1%;
  padding: 50px 0 30px 0px;
}
#korean pre {
  position: absolute;
  display: block;
  font-size: 20px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
  padding: 8px 1px;
  margin: 0px -1px;
  z-index: 1;
}
#korean pre img {
  width: 15px;
  height: 17px;
  margin: 4px 12px;
}
#korean .prev7 {
  left: -1.5%;
  top: 51%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#korean .prev7:hover {
  cursor: pointer;
  background-color: rgba(182, 182, 182, 0.76);
}
#korean .next7 {
  right: -1.5%;
  top: 51%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#korean .next7:hover {
  cursor: pointer;
  background-color: rgba(182, 182, 182, 0.76);
}
#korean .ko_slidewrap {
  width: 100%;
  margin: -30px 0;
}
#korean .ko_slidewrap .ko_slide {
  width: 1200px;
  position: absolute;
}
#korean .ko_slidewrap .ko_slide .ko_book {
  width: 380px;
  height: 70%;
  float: left;
  margin: 0 10px;
}
#korean .ko_slidewrap .ko_slide .ko_book .sum {
  width: 100%;
  height: 67%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#korean .ko_slidewrap .ko_slide .ko_book .sum img {
  width: 50%;
}
#korean .ko_slidewrap .ko_slide .ko_book .tit_name {
  width: 100%;
  height: 10%;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
}
#korean .ko_slidewrap .ko_slide .ko_book .writer {
  width: 100%;
  height: 6%;
  color: #858785;
  text-align: center;
  padding: 5px 0;
}
#korean .ko_slidewrap .ko_slide .ko_book .string {
  width: 100%;
  height: 14%;
  text-align: center;
}
#korean .ko_slidewrap .ko_slide .ko_book .string p {
  padding: 15px 20px;
}
#korean .ko_slidewrap .ko_slide2 {
  width: 1200px;
  position: absolute;
  display: none;
  background-color: #c5b8f5;
}
#korean .ko_slidewrap .ko_slide2 .ko_book2 {
  width: 380px;
  height: 70%;
  float: left;
  margin: 0 10px;
  background-color: aliceblue;
}
#korean .ko_slidewrap .ko_slide2 .ko_book2 .sum {
  width: 100%;
  height: 67%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d4f09c;
}
#korean .ko_slidewrap .ko_slide2 .ko_book2 .sum img {
  width: 50%;
}
#korean .ko_slidewrap .ko_slide2 .ko_book2 .tit_name {
  width: 100%;
  height: 10%;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  background-color: #f6d0de;
}
#korean .ko_slidewrap .ko_slide2 .ko_book2 .writer {
  width: 100%;
  height: 6%;
  color: #858785;
  text-align: center;
  padding: 5px 0;
  background-color: azure;
}
#korean .ko_slidewrap .ko_slide2 .ko_book2 .string {
  width: 100%;
  height: 14%;
  text-align: center;
  background-color: beige;
}
#korean .ko_slidewrap .ko_slide2 .ko_book2 .string p {
  padding: 15px 20px;
}

#week {
  width: 1200px;
  height: 370px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  background-color: aliceblue;
}
#week h2 {
  width: 100%;
  margin: 1%;
}
#week #wk_slidewrap {
  width: 100%;
  height: 100%;
  margin: 1% 0;
}
#week #wk_slidewrap #wk_slide {
  width: 1200px;
  height: 320px;
  display: flex;
  flex-direction: row;
}
#week #wk_slidewrap #wk_slide .wk_book {
  width: 190px;
  height: 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 5px;
  background-color: #c5b8f5;
}
#week #wk_slidewrap #wk_slide .wk_book p {
  margin: 5px 0;
  font-weight: bold;
}
#week #wk_slidewrap #wk_slide .wk_book .thum {
  width: 90%;
  height: 75%;
  background-color: #45aee7;
  margin: 0 auto;
}
#week #wk_slidewrap #wk_slide .wk_book .thum img {
  width: 100%;
  height: 100%;
}
#week #wk_slidewrap #wk_slide .wk_book .title {
  width: 100%;
  height: 25%;
  padding: 0 10px;
}
#week #wk_slidewrap #wk_slide .wk_book .title p {
  padding: 5px 0;
}

#trip {
  width: 1200px;
  height: 370px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  background-color: aliceblue;
}
#trip h2 {
  width: 100%;
  margin: 1%;
}
#trip pre {
  position: absolute;
  display: block;
  font-size: 20px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
  padding: 8px 1px;
  margin: 0px -1px;
  z-index: 1;
}
#trip pre img {
  width: 15px;
  height: 17px;
  margin: 4px 12px;
}
#trip .prev8 {
  left: -1.5%;
  top: 47%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#trip .prev8:hover {
  cursor: pointer;
  background-color: rgba(182, 182, 182, 0.76);
}
#trip .next8 {
  right: -1.5%;
  top: 47%;
  box-shadow: -1px 0 0.7em rgba(223, 223, 223, 0.863);
}
#trip .next8:hover {
  cursor: pointer;
  background-color: rgba(182, 182, 182, 0.76);
}
#trip #tp_slidewrap {
  width: 100%;
  height: 100%;
  margin: 1% 0;
  overflow: hidden;
}
#trip #tp_slidewrap #tp_slide {
  width: 1800px;
  height: 320px;
  display: flex;
  flex-direction: row;
}
#trip #tp_slidewrap #tp_slide .tp_book {
  width: 190px;
  height: 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 5px;
  background-color: #c5b8f5;
}
#trip #tp_slidewrap #tp_slide .tp_book .thum {
  width: 90%;
  height: 75%;
  background-color: #45aee7;
  margin: 0 auto;
}
#trip #tp_slidewrap #tp_slide .tp_book .thum img {
  width: 100%;
  height: 100%;
}
#trip #tp_slidewrap #tp_slide .tp_book .title {
  width: 100%;
  height: 25%;
  padding: 0 10px;
}
#trip #tp_slidewrap #tp_slide .tp_book .title .name {
  width: 100%;
  height: 50%;
  background-color: #ddd7f1;
}
#trip #tp_slidewrap #tp_slide .tp_book .title .name h4 {
  padding: 5px 0;
}
#trip #tp_slidewrap #tp_slide .tp_book .title .writer {
  width: 100%;
  height: 50%;
  color: #858785;
  font-weight: 500;
  font-size: 15px;
  background-color: #fff;
}
#trip #tp_slidewrap #tp_slide .tp_book .title .writer p {
  padding: 5px 0;
}
#trip #tp_slidewrap #tp_slide .tp_book2 {
  width: 190px;
  height: 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 5px;
  background-color: #c5b8f5;
}
#trip #tp_slidewrap #tp_slide .tp_book2 .thum {
  width: 90%;
  height: 75%;
  background-color: #45aee7;
  margin: 0 auto;
}
#trip #tp_slidewrap #tp_slide .tp_book2 .thum img {
  width: 100%;
  height: 100%;
}
#trip #tp_slidewrap #tp_slide .tp_book2 .title2 {
  width: 100%;
  height: 25%;
  padding: 0 10px;
}
#trip #tp_slidewrap #tp_slide .tp_book2 .title2 .name {
  width: 100%;
  height: 50%;
  background-color: #ddd7f1;
}
#trip #tp_slidewrap #tp_slide .tp_book2 .title2 .name h4 {
  padding: 5px 0;
}
#trip #tp_slidewrap #tp_slide .tp_book2 .title2 .writer {
  width: 100%;
  height: 50%;
  color: #858785;
  font-weight: 500;
  font-size: 15px;
  background-color: #fff;
}
#trip #tp_slidewrap #tp_slide .tp_book2 .title2 .writer p {
  padding: 5px 0;
}