@charset "utf-8";

@import "reset", "common", "color";





#wrap {
    position: relative;
    .up {
        width: 60px;
        height: 60px;
        position: fixed;
        border: 1px solid rgba(185, 185, 185, 0.664);
        border-radius: 100%;
        bottom: 25px;
        left: 95%;
        transition: 1s;

        svg {
            width: 30px;
            height: 30px;
            margin: 14px 13px;
        }
    }
}



#nav {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    // background-color: aliceblue;
    display: flex;
    justify-content: space-between;

    #nav_left {

        width: 400px;
        height: 100%;

        font : {
            weight: 600;
            size: 14.5px
        }

        li {
            display: flex;
            align-items: center;
            float: left;
            margin: 5px 5px 5px -4px;
            padding: 5px 5px 5px 20px;

            & a {
                color: $ridiGray;
            }

            &:nth-child(3) a {
                color: $ridiBlack;
            }

        }
    }

    #nav_right {

        width: 160px;
        height: 100%;

        font : {
            weight: 600;
            size: 14.5px
        }

        li {
            display: flex;
            align-items: center;
            float: left;
            margin: 1%;
            padding: 7px 10px 5px 10px;
            color: $ridiGray;

            & a {
                color: $ridiGray;
            }
        }
    }


}


#category {

    hr {
        width: 97%;
        margin: 0 auto;
        color: $ridiLigr;
        opacity: 0.1;
    }

    width: 1200px;
    height: 130px;
    margin: 0 auto;
    // background-color: aliceblue;

    .ct_top {
        width: 100%;
        height: 65px;
        display: flex;
        // background-color: aqua;

        .logo {
            width: 55%;
            height: 100%;

            & img {
                padding: 10px;
            }

            p {

                font : {
                    size: 30px;
                    weight: 900;
                }
            }
        }

        .icons {
            width: 45%;
            height: 100%;
            display: flex;
            // background-color: beige;

            .search {
                width: 57%;
                height: 100%;
                padding: 7px;

                input {
                    width: 90%;
                    height: 80%;
                    border-radius: 10px;
                    margin: 5px 15px;
                    border: none;
                    background-color: $ridiLigr;
                    position: relative;
                }

                & img {
                    position: absolute;
                    width: 30px;
                    top: 1.15%;
                    right: 43.8%;
                }
            }

            .icon {
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & img {
                    width: 30px;
                }

                & svg {
                    width: 30px;
                }
            }
            .icon:hover {
                cursor: pointer;
            }
        }
    }

    .ct_bottom {
        width: 100%;
        height: 50%;
        display: flex;
        // background-color: bisque;

        h2 {
            width: 50%;
            height: 100%;
            padding: 15px 15px;
            color: $ridiBlue;
            font-size: 25px;
            // background-color: rgb(109, 163, 211);
        }

        .ham {
            // background-color: aliceblue;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            & img {
                width: 25px;
                height: 25px;
                margin: 1%;
            }

            & svg {
                width: 30px;
            }

            p {
                font: {
                    weight: bold;
                }

                padding: 10px 20px 10px 5px;
            }
        }
        .ham:hover {
            cursor: pointer;
        }
    }


}

.book_slide {
    width: 1200px;
    height: 470px;
    margin: 0 auto;
    // background-color: aliceblue;

    .cate {
        width: 100%;
        height: 55px;
        // background-color: antiquewhite;

        button {
            width: auto;
            height: 35px;
            color: #fff;
            border: none;
            margin: 10px 0px 0px 15px;
            text-align: center;
            border-radius: 30px;
            background-color: $ridiBlue;
            padding: 5px 10px;

            font : {
                family: $basicFont;
                size: 16px;
                weight: bold;
            }

        }

        .two {
            margin: 0 -3px;
            color: $ridiBlack;
            background: none;
        }
    }

    .slidewrap {
        width: 1200px;
        position: relative;

        .slide {
            width: 1200px;
            height: 415px;
            // background-color: #c5b8f5;
            overflow: hidden;
            padding: 5px;
            display: flex;
            justify-content: flex-end;

            .sd {
                // width: 1200px;
                height: 100%;
                border-radius: 5px;
                margin: 0 5px;
                // transition: 2s;
                color: #fff;
                background-color: $ridiPurple;
                position: relative;

                &:nth-of-type(2) {
                    flex-basis: 48px;

                }

                &:nth-of-type(3) {
                    flex-basis: 48px;
                }

                &:nth-of-type(4) {
                    flex-basis: 0;
                    display: none;
                }

                &:nth-of-type(5) {
                    flex-basis: 0;
                    display: none;
                }

                &:nth-of-type(6) {
                    flex-basis: 0;
                    display: none;
                }

                &:nth-of-type(7) {
                    flex-basis: 0;
                    display: none;
                }

                &:nth-of-type(8) {
                    flex-basis: 0;
                    display: none;
                }

                &:nth-of-type(9) {
                    flex-basis: 0;
                    display: none;
                }

                &:nth-of-type(10) {
                    flex-basis: 0;
                    display: none;
                }

                &.e1 {
                    flex-grow: 1;
                    background-image: url("//active.ridibooks.com/ridibooks_banner/1693545718269_MjMwODMw.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                &.e2 {
                    flex-grow: 0;
                    background-image: url("//active.ridibooks.com/ridibooks_banner/1693467066081_MjMwODIz.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                &.e3 {
                    flex-grow: 0;
                    background-image: url("//active.ridibooks.com/ridibooks_banner/1694064862262_w6vCucKF.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .tag2 {
                        width: 79px;
                        height: 20px;
                        border: 1px solid #fff;
                        border-radius: 2px;
                        margin: 0px 0px 8px 0px;
                        
                        & p {
                            font-size: 10px;
                            margin: 2px 4px;
                        }
                    }
                }

                &.e4 {
                    flex-grow: 0;
                    background-image: url("//active.ridibooks.com/ridibooks_banner/1693893649400_MjMwODI1.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .tag2 {
                        width: 79px;
                        height: 20px;
                        border: 1px solid #fff;
                        border-radius: 2px;
                        margin: 0px 0px 8px 0px;
                        
                        & p {
                            font-size: 10px;
                            margin: 2px 4px;
                        }
                    }
                }

                &.e5 {
                    flex-grow: 0;
                    background-image: url("//active.ridibooks.com/ridibooks_banner/1694415781523_MjMwOTEx.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .tag2 {
                        width: 79px;
                        height: 20px;
                        border: 1px solid #fff;
                        border-radius: 2px;
                        margin: 0px 0px 8px 0px;
                        
                        & p {
                            font-size: 10px;
                            margin: 2px 4px;
                        }
                    }
                }

                &.e6 {
                    flex-grow: 0;
                    background-image: url("//active.ridibooks.com/ridibooks_banner/1693806621450_MjMwOTA0.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .tag2 {
                        width: 79px;
                        height: 20px;
                        border: 1px solid #fff;
                        border-radius: 2px;
                        margin: 0px 0px 8px 0px;
                        
                        & p {
                            font-size: 10px;
                            margin: 2px 4px;
                        }
                    }
                }

                &.e7 {
                    flex-grow: 0;
                    background-image: url("//active.ridibooks.com/ridibooks_banner/1693463394870_w6vCucKF.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .tag2 {
                        width: 75px;
                        height: 20px;
                        border: 1px solid #fff;
                        border-radius: 2px;
                        margin: 0px 0px 8px 0px;
                        
                        & p {
                            font-size: 10px;
                            margin: 2px 4px;
                        }
                    }
                }

                &.e8 {
                    flex-grow: 0;
                    background-image: url("//active.ridibooks.com/ridibooks_banner/1693809778918_MjMwOTAx.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .tag2 {
                        width: 45px;
                        height: 20px;
                        border: 1px solid #fff;
                        border-radius: 2px;
                        margin: 0px 0px 8px 0px;
                        
                        & p {
                            font-size: 10px;
                            margin: 2px 4px;
                        }
                    }

                }

                &.e9 {
                    flex-grow: 0;
                    background-image: url("//active.ridibooks.com/ridibooks_banner/1693372622852_MjMwODI5.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .tag2 {
                        width: 75px;
                        height: 20px;
                        border: 1px solid #fff;
                        border-radius: 2px;
                        margin: 0px 0px 8px 0px;
                        
                        & p {
                            font-size: 10px;
                            margin: 2px 4px;
                        }
                    }
                }

                &.e10 {
                    flex-grow: 0;
                    background-image: url(//active.ridibooks.com/ridibooks_banner/1694153604743_MjMwODE4.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .tag {
                        width: 35px;
                        height: 20px;
                        border: 1px solid #fff;
                        border-radius: 2px;
                        margin: 0px 0px 8px 0px;

                        & img {
                            width: 35px;
                            margin: -2px 0 0 0px;
                        }
                    }
                }

                .title {
                    width: 1064px;
                    height: 200px;
                    color: #fff;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    top: -1%;
                    left: 6%;
                    z-index: 1;

                    p {
                        width: 350px;
                        background: none;

                        font: {
                            size: 33px;
                            weight: bold;
                            family: $basicFont;
                        }

                    }

                    h4 {
                        line-height: 160%;
                        margin: 10px 0;
                    }

                    h6 {
                        line-height: 180%;
                    }

                    .num {
                        width: 45px;
                        height: 20px;
                        text-align: center;
                        background: rgba(0, 0, 0, 0.267);
                        color: #fff;
                        font-size: 14px;
                        font-weight: bold;
                        border-radius: 20px;
                        position: absolute;
                        top: 70%;
                        right: 13%;
                    }

                }

                &:not(:first-of-type) .bg_op {
                    opacity: 0;
                }

                .bg_op {
                    width: 100%;
                    height: 55%;
                    position: absolute;
                    border-radius: 5px;
                    // background-color: #3a3a3aa1;
                    top: 45%;
                    box-shadow: inset 0em -9em 75px rgba(41, 39, 39, 0.623);

                    &.bg2 {
                        box-shadow: inset 0em -10em 75px rgba(135, 106, 183, 1);
                    }
                    &.bg3 {
                        box-shadow: inset 0em -10em 75px rgba(31, 116, 180, 1);
                    }
                    &.bg4 {
                        box-shadow: inset 0em -10em 75px rgba(21, 73, 17, 1);
                    }
                    &.bg5{
                        box-shadow: inset 0em -10em 75px rgba(92, 67, 139, 1);
                    }
                    &.bg6 {
                        box-shadow: inset 0em -10em 75px rgb(108, 74, 163);
                    }
                    &.bg7 {
                        box-shadow: inset 0em -10em 75px rgb(198, 51, 87);
                    }
                    &.bg9 {
                        box-shadow: inset 0em -10em 75px rgb(37, 173, 63);
                    }
                }
            }



        }

        span {
            position: absolute;
            display: block;
            font-size: 24px;
            font-weight: bold;
            background-color: #fff;
            border-radius: 100%;
            text-align: center;
            width: 40px;
            height: 40px;
            padding: 5px;
            margin: 0px -1px;
            z-index: 1;
            & img {
                width: 15px;
                height: 17px;
            }

        }

        .prev {
            left: -9px;
            top: 45%;
            box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
        }

        .prev:hover {
            cursor: pointer;
            opacity: 0.9;
        }

        .next {
            right: -10px;
            top: 45%;
            box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
        }

        .next:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
}


.dot {
    width: 1200px;
    height: 150px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    // background-color: #c5b8f5;       

    .dots {
        width: 75px;
        margin: 1%;
        text-align: center;

        font : {
            size: 14px;
            family: $freeFont;
        }


        img {
            width: 70px;

            &:first {
                width: 75px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        p {
            margin: 3%;
        }

    }

}

#today {
    width: 1200px;
    height: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    // background-color: aliceblue;

    h2 {
        width: 100%;
        margin: 1%;
    }

    & pre {
        position: absolute;
        display: block;
        font-size: 20px;
        background-color: #fff;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 8px 1px;
        margin: 0px -1px;

        & img {
            width: 15px;
            height: 17px;
            margin: 4px 12px;
        }

    }

    .prev4 {
        left: 0%;
        top: 45%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .prev4:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .next4 {
        right: -0.7%;
        top: 45%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .next4:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    #td_slidewrap {
        width: 100%;
        height: 100%;
        overflow: hidden;

        #td_wrap {
            width: 2400px;
            height: 325px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            // background-color: #f6d0de;


            .td_slide {
                width: 1200px;
                display: flex;


                .td_book {
                    width: 190px;
                    height: 310px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column-reverse;
                    text-align: left;
                    margin: 5px;
                    padding: 0 5px;
                    // background-color: #c5b8f5;

                    & img {
                        width: 180px;
                    }

                    p {
                        margin: 5px 0;
                        font-weight: bold;
                    }
                }

            }

            .td_slide2 {
                width: 1200px;
                display: flex;

                .td_book {
                    width: 190px;
                    height: 310px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column-reverse;
                    text-align: left;
                    margin: 5px;
                    padding: 0 5px;
                    // background-color: #c5b8f5;

                    & img {
                        width: 180px;
                    }

                    p {
                        margin: 5px 0;
                        font-weight: bold;
                    }
                }

            }
        }
    }


}

#now_wrap {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    // background-color: #c5b8f5;

    h2 {
        width: 100%;
        height: 2%;
        margin: 3.5% 1%;
    }

    & pre {
        position: absolute;
        display: block;
        font-size: 20px;
        background-color: #fff;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 8px 1px;
        margin: 0px -1px;

        & img {
            width: 15px;
            height: 17px;
            margin: 4px 12px;
        }

    }

    .prev2 {
        left: -0.9%;
        top: 51%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .prev2:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .next2 {
        right: -0.9%;
        top: 51%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .next2:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    #slidewrap {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;

        #now_slide {
            width: 2400px;
            height: 400px;
            display: flex;
            flex-direction: row;

            .now {
                width: 1200px;
                height: 100%;
                // margin: 0 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;

                // background-color: rgb(222, 236, 248);



                .now_bk {
                    width: 380px;
                    height: 115px;
                    display: flex;
                    // background-color: #c5b8f5;

                    .thum {
                        width: 25%;
                        height: 100%;
                        background-color: #fff;

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .number {
                        width: 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 17px;
                        font-weight: 500;
                        // background-color: aliceblue;
                    }

                    .tit {
                        width: 60%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        // background-color: antiquewhite;

                        .name {
                            width: 100%;
                            height: 20%;
                            font-weight: 600;
                            // background-color: #fff;
                        }

                        .authors {
                            width: 100%;
                            height: 20%;
                            font-size: 15px;
                            color: $ridiGray;
                            // background-color: aliceblue;
                        }

                        .star {
                            width: 100%;
                            height: 20%;
                            font-size: 13px;
                            color: #DC3232;
                            // background-color: #fff;

                            & svg {
                                width: 11px;
                                height: 11px;
                            }

                            .star2 {
                                color: $ridiGray;
                            }
                        }




                    }
                }

                .now_bk2 {
                    width: 380px;
                    height: 115px;
                    display: flex;
                    // background-color: #c5b8f5;

                    .thum2 {
                        width: 25%;
                        height: 100%;
                        background-color: #fff;

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .number2 {
                        width: 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 17px;
                        font-weight: 500;
                        // background-color: aliceblue;
                    }

                    .tit2 {
                        width: 60%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        // background-color: antiquewhite;

                        .name2 {
                            width: 100%;
                            height: 20%;
                            font-weight: 600;
                            background-color: #fff;
                        }

                        .authors2 {
                            width: 100%;
                            height: 20%;
                            font-size: 15px;
                            color: $ridiGray;
                            // background-color: aliceblue;
                        }

                        .star_1 {
                            width: 100%;
                            height: 20%;
                            font-size: 13px;
                            color: #DC3232;
                            background-color: #fff;

                            & svg {
                                width: 11px;
                                height: 11px;
                            }

                            .star2_2 {
                                color: $ridiGray;
                            }
                        }




                    }
                }
            }

        }
    }


}


#MD_P {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // background-color: #c5b8f5;

    h2 {
        width: 100%;
        padding: 25px 10px;
    }

    .pick {
        width: 390px;
        height: 230px;
        text-align: center;
        border-radius: 5px;
        // background-color: aliceblue;

        .pk {
            width: 100%;
            height: 60%;
            border-radius: 5px;
            position: relative;
            background-color: #fff;

            .o1 {
                width: 100%;
                height: 65%;
                border-radius: 5px;
                position: absolute;
                bottom: 0;
                background-color: #ddd0f6;

                & img {
                    height: 160%;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 0;
                    right: 38%
                }
            }

            .o2 {
                width: 100%;
                height: 65%;
                border-radius: 5px;
                position: absolute;
                bottom: 0;
                background-color: #caf1ed;

                & img {
                    height: 160%;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 0;
                    right: 38%
                }
            }

            .o3 {
                width: 100%;
                height: 65%;
                border-radius: 5px;
                position: absolute;
                bottom: 0;
                background-color: #f7c1d6;

                & img {
                    height: 160%;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 0;
                    right: 38%
                }
            }
        }

        .ex {
            & p {
                line-height: 150%;
                padding: 10px 0 0 0;
                font-family: $freeFont;
                font-weight: bold;
                font-size: 17px;
            }
        }

        .name3 {
            & p {
                line-height: 150%;
            }
        }
    }
}


#best_wrap {
    width: 1200px;
    height: 480px;
    margin: 0 auto;
    position: relative;
    // background-color: #c5b8f5;

    h2 {
        width: 100%;
        height: 2%;
        margin: 2.5% 1%;
    }

    & pre {
        position: absolute;
        display: block;
        font-size: 20px;
        background-color: #fff;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 8px 1px;
        margin: 0px -1px;

        & img {
            width: 15px;
            height: 17px;
            margin: 4px 12px;
        }

    }

    .prev3 {
        left: -1.9%;
        top: 48%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .prev3:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .next3 {
        right: -1.7%;
        top: 48%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .next3:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    #best_slidewrap {
        width: 100%;
        overflow: hidden;

        #best_slide {
            width: 2400px;
            height: 400px;
            display: flex;
            padding: 10px 0;
            margin: 10px 0;
            flex-direction: row;

            .best {
                width: 1200px;
                height: 100%;
                // margin: 0 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                // background-color: rgb(222, 236, 248);


                .best_bk {
                    width: 380px;
                    height: 115px;
                    display: flex;
                    // background-color: #c5b8f5;

                    .thum3 {
                        width: 25%;
                        height: 100%;
                        // background-color: #fff;

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .number3 {
                        width: 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 17px;
                        font-weight: 500;
                        // background-color: aliceblue;
                    }

                    .tit3 {
                        width: 60%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        // background-color: antiquewhite;

                        .name3 {
                            width: 100%;
                            height: 20%;
                            font-weight: 600;
                            // background-color: #fff;
                        }

                        .authors3 {
                            width: 100%;
                            height: 20%;
                            font-size: 15px;
                            color: $ridiGray;
                            // background-color: aliceblue;
                        }

                        .star3 {
                            width: 100%;
                            height: 20%;
                            font-size: 13px;
                            color: #DC3232;
                            // background-color: #fff;

                            & svg {
                                width: 11px;
                                height: 11px;
                            }

                            .star4 {
                                color: $ridiGray;
                            }
                        }




                    }
                }

                .best_bk2 {
                    width: 380px;
                    height: 115px;
                    display: flex;
                    // background-color: #c5b8f5;

                    .thum4 {
                        width: 25%;
                        height: 100%;
                        // background-color: #fff;

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .number4 {
                        width: 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 17px;
                        font-weight: 500;
                        // background-color: aliceblue;
                    }

                    .tit4 {
                        width: 60%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        // background-color: antiquewhite;

                        .name4 {
                            width: 100%;
                            height: 20%;
                            font-weight: 600;
                            // background-color: #fff;
                        }

                        .authors4 {
                            width: 100%;
                            height: 20%;
                            font-size: 15px;
                            color: $ridiGray;
                            // background-color: aliceblue;
                        }

                        .star3_1 {
                            width: 100%;
                            height: 20%;
                            font-size: 13px;
                            color: #DC3232;
                            // background-color: #fff;

                            & svg {
                                width: 11px;
                                height: 11px;
                            }

                            .star4_2 {
                                color: $ridiGray;
                            }
                        }




                    }
                }
            }

        }
    }


}



#new {
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    // background-color: aliceblue;

    h2 {
        width: 100%;
        margin: 1%;
    }

    & pre {
        position: absolute;
        display: block;
        font-size: 20px;
        background-color: #fff;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 8px 1px;
        margin: 0px -1px;

        & img {
            width: 15px;
            height: 17px;
            margin: 4px 12px;
        }

    }

    .prev5 {
        left: -0.7%;
        top: 38%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .prev5:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .next5 {
        right: -0.7%;
        top: 38%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .next5:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    #nw_slidewrap {
        width: 100%;

        overflow: hidden;

        #nw_slide {
            width: 1800px;
            height: 380px;
            display: flex;
            flex-direction: row;

            .nw_book {
                width: 190px;
                height: 380px;
                display: flex;
                justify-content: center;
                flex-direction: column-reverse;
                text-align: left;
                margin: 5px;
                // background-color: #c5b8f5;

                & img {
                    width: 180px;
                    height: 67%;
                    margin: 0 auto;
                }

                p {
                    margin: 5px 0;
                    font-weight: bold;
                }

                .titles {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    // background-color: antiquewhite;

                    .tit_h4 {
                        width: 100%;
                        height: 25%;
                        font-weight: 600;
                        // background-color: #fff;
                    }

                    .writer {
                        width: 100%;
                        height: 25%;
                        font-size: 15px;
                        color: $ridiGray;
                        // background-color: aliceblue;
                    }

                    .grade {
                        width: 100%;
                        height: 25%;
                        font-size: 13px;
                        color: #DC3232;
                        // background-color: #fff;

                        & svg {
                            width: 11px;
                            height: 11px;
                        }

                        .grade2 {
                            color: $ridiGray;
                        }
                    }




                }
            }

            .nw_book2 {
                width: 190px;
                height: 350px;
                display: flex;
                justify-content: center;
                flex-direction: column-reverse;
                text-align: left;
                margin: 5px;
                // background-color: #c5b8f5;

                & img {
                    width: 180px;
                    height: 65%;
                    margin: 0 auto;
                }

                p {
                    margin: 5px 0;
                    font-weight: bold;
                }

                .titles2 {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    // background-color: antiquewhite;

                    .tit_h4 {
                        width: 100%;
                        height: 25%;
                        font-weight: 600;
                        // background-color: #fff;
                    }

                    .writer {
                        width: 100%;
                        height: 25%;
                        font-size: 15px;
                        color: $ridiGray;
                        // background-color: aliceblue;
                    }

                    .grade {
                        width: 100%;
                        height: 25%;
                        font-size: 13px;
                        color: #DC3232;
                        // background-color: #fff;

                        & svg {
                            width: 11px;
                            height: 11px;
                        }

                        .grade2 {
                            color: $ridiGray;
                        }
                    }




                }
            }

        }
    }


}


#banner {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    position: relative;

    & pre {
        position: absolute;
        display: block;
        font-size: 20px;
        background-color: #cccbcb71;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 8px 1px;
        margin: 0px -1px;
        opacity: 0;

        & img {
            width: 15px;
            height: 17px;
            margin: 4px 12px;
        }

    }

    .prev6 {
        left: 20%;
        top: 67%;
        // box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .prev6:hover {
        cursor: pointer;
        background-color: rgba(182, 182, 182, 0.76);
    }

    .next6 {
        right: 20%;
        top: 67%;
        // box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .next6:hover {
        cursor: pointer;
        background-color: rgba(182, 182, 182, 0.76);
    }

    .back1 {
        width: 100%;
        height: 100px;
        // display: none;
         background-color: #45aee7;

         .img_bn {
            width: 1200px;
            height: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            // background-color: #caf1ed;

            .ppl {
                width: 100px;
                height: 100%;
                position: relative;
                & img {
                    width: 100%;
                    position: absolute;
                    top: -45%;
                    box-shadow: -3px -3px 3px rgba(66, 66, 66, 0.438);
                    border-radius: 5px;
                }
            }
            .story {
                width: 700px;
                height: 100%;
                // background-color: #269bda;
                display: flex;
                align-items: center;
                justify-content: center;
            }
         }
    }

    .back2 {
        width: 100%;
        height: 100px;
        display: none;
         background-color: #664baa;
         .img_bn {
            width: 1200px;
            height: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            // background-color: #caf1ed;

            .ppl {
                width: 100px;
                height: 100%;
                position: relative;
                & img {
                    width: 100%;
                    position: absolute;
                    top: -45%;
                    box-shadow: -3px -3px 3px rgba(66, 66, 66, 0.438);
                    border-radius: 5px;
                }
            }
            .story {
                width: 700px;
                height: 100%;
                // background-color: #269bda;
                display: flex;
                align-items: center;
                justify-content: center;
            }
         }
    }

    .back3 {
        width: 100%;
        height: 100px;
        display: none;
         background-color: #d4f09c;

         .img_bn {
            width: 1200px;
            height: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            // background-color: #caf1ed;

            .ppl {
                width: 100px;
                height: 100%;
                position: relative;
                & img {
                    width: 100%;
                    position: absolute;
                    top: -45%;
                    box-shadow: -3px -3px 3px rgba(66, 66, 66, 0.438);
                    border-radius: 5px;
                }
            }
            .story {
                width: 700px;
                height: 100%;
                // background-color: #269bda;
                display: flex;
                align-items: center;
                justify-content: center;
            }
         }
    }
   
}


#korean {
    width: 1200px;
    height: 580px;
    margin: 0 auto;
    position: relative;
    // background-color: #caf1ed;

    h2 {
        margin: 3% 1%;
        padding: 40px 0 30px 0px;
    }

    & pre {
        position: absolute;
        display: block;
        font-size: 20px;
        background-color: #fff;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 8px 1px;
        margin: 0px -1px;
        z-index: 1;
        // opacity: 0;

        & img {
            width: 15px;
            height: 17px;
            margin: 4px 12px;
        }

    }

    .prev7 {
        left: -1.5%;
        top: 48%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .prev7:hover {
        cursor: pointer;
        background-color: rgba(182, 182, 182, 0.76);
    }

    .next7 {
        right: -1.5%;
        top: 50%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .next7:hover {
        cursor: pointer;
        background-color: rgba(182, 182, 182, 0.76);
    }

    .ko_slidewrap {
        width: 100%;
      
        margin: -30px 0;
        // background-color: #ddd0f6;

        .ko_slide {
            width: 1200px;
      
            position: absolute;
            // background-color: #45aee7;

            .ko_book {
                width: 380px;
                height: 70%;
                float: left;
                margin: 0 10px;
                // display: none;
                // background-color: aliceblue;

                .sum {
                    width: 100%;
                    height: 67%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // background-color: #d4f09c;

                    & img {
                        width: 50%;

                    }

                }

                .tit_name {
                    width: 100%;
                    height: 10%;
                    font-size: 18px;
                    text-align: center;
                    padding: 10px 0;
                    // background-color: #f6d0de;
                }

                .writer {
                    width: 100%;
                    height: 6%;
                    color: $ridiGray;
                    text-align: center;
                    padding: 5px 0;
                    // background-color: azure;
                }

                .string {
                    width: 100%;
                    height: 14%;
                    text-align: center;
                    // background-color: beige;

                    p {
                        padding: 15px 20px;
                    }
                }
            }
        }

        .ko_slide2 {
            width: 1200px;
         
            position: absolute;
            display: none;
            // background-color: #c5b8f5;

            .ko_book2 {
                width: 380px;
                height: 70%;
                float: left;
                margin: 0 10px;
                // background-color: aliceblue;

                .sum {
                    width: 100%;
                    height: 67%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // background-color: #d4f09c;

                    & img {
                        width: 50%;

                    }

                }

                .tit_name {
                    width: 100%;
                    height: 10%;
                    font-size: 18px;
                    text-align: center;
                    padding: 10px 0;
                    // background-color: #f6d0de;
                }

                .writer {
                    width: 100%;
                    height: 6%;
                    color: $ridiGray;
                    text-align: center;
                    padding: 5px 0;
                    // background-color: azure;
                }

                .string {
                    width: 100%;
                    height: 14%;
                    text-align: center;
                    // background-color: beige;

                    p {
                        padding: 15px 20px;
                    }
                }
            }
        }
    }

}



#week {
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    // background-color: aliceblue;

    h2 {
        width: 100%;
        margin: 1%;
    }

    #wk_slidewrap {
        width: 100%;

        margin: 1% 0;

        #wk_slide {
            width: 1200px;
            height: 360px;
            display: flex;
            flex-direction: row;

            .wk_book {
                width: 190px;
                height: 320px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: left;
                margin: 5px;
                // background-color: #c5b8f5;

                

                p {
                    margin: 5px 0;
                    font-weight: bold;
                }

                .thum {
                    width: 90%;
                    height: 85%;
                    // background-color: #45aee7;
                    margin: 0 auto;
                    & img {
                    width: 100%;
                    height: 100%;
                    }
                }
                .title {
                    width: 100%;
                    height: 25%;
                    padding: 0 10px;
                    & p {
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}



#trip {
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    // background-color: aliceblue;

    h2 {
        width: 100%;
        margin: 1%;
    }

    & pre {
        position: absolute;
        display: block;
        font-size: 20px;
        background-color: #fff;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 8px 1px;
        margin: 0px -1px;
        z-index: 1;
        // opacity: 0;

        & img {
            width: 15px;
            height: 17px;
            margin: 4px 12px;
        }

    }

    .prev8 {
        left: -0.5%;
        top: 42%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .prev8:hover {
        cursor: pointer;
        background-color: rgba(182, 182, 182, 0.76);
    }

    .next8 {
        right: -0.5%;
        top: 43%;
        box-shadow: -1px 0 .7em rgba(223, 223, 223, 0.863);
    }

    .next8:hover {
        cursor: pointer;
        background-color: rgba(182, 182, 182, 0.76);
    }

    #tp_slidewrap {
        width: 100%;

        margin: 1% 0;
        overflow: hidden;

        #tp_slide {
            width: 1800px;
            height: 340px;
            display: flex;
            flex-direction: row;

            .tp_book {
                width: 190px;
                height: 330px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: left;
                margin: 5px;
                // background-color: #c5b8f5;

                .thum {
                    width: 90%;
                    height: 75%;
                    // background-color: #45aee7;
                    margin: 0 auto;
                    & img {
                    width: 100%;
                    height: 100%;
                    }
                }
                .title {
                    width: 100%;
                    height: 25%;
                    padding: 0 10px;
                    .name {
                        width: 100%;
                        height: 50%;
                        // background-color: #ddd7f1;
                        & h4 {
                            padding: 5px 0;
                        }
                    }
                    .writer {
                        width: 100%;
                        height: 50%;
                        color: $ridiGray;
                        font-weight: 500;
                        font-size: 15px;
                        // background-color: #fff;
                        
                        & p {
                            padding: 5px 0;
                        }
                    }
                }
            }
            .tp_book2 {
                width: 190px;
                height: 260px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: left;
                margin: 5px;
                // background-color: #c5b8f5;

                .thum {
                    width: 90%;
                    height: 75%;
                    // background-color: #45aee7;
                    margin: 0 auto;
                    & img {
                    width: 100%;
                    height: 100%;
                    }
                }
                .title2 {
                    width: 100%;
                    height: 25%;
                    padding: 0 10px;
                    .name {
                        width: 100%;
                        height: 50%;
                        // background-color: #ddd7f1;
                        & h4 {
                            padding: 5px 0;
                        }
                    }
                    .writer {
                        width: 100%;
                        height: 50%;
                        color: $ridiGray;
                        font-weight: 500;
                        font-size: 15px;
                        // background-color: #fff;
                        
                        & p {
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}



footer {
    width: 100%;
    height: 350px;
    border: 1px solid rgba(185, 185, 185, 0.664);
    position: relative;
    // background-color: #caf1ed;

    #ask {
        width: 1200px;
        height: 210px;
        margin: 0 auto;
        // background-color: #d4f09c;

        .asking {
            width: 200px;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 40px 0 0 0;
            float: left;
            // background-color: #ddd0f6;

            .svg {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 29px 0;
                margin: -18px 0 0 0;

                & p {
                    font-size: 14px;
                    color: $ridiGray;
                    font-weight: 600;
                    padding: 10px; 
                }
                

                & svg {
                    width: 25px;
                }

            }
            p {
                font-size: 14px;
               color: $ridiGray;
               font-weight: 600; 
            }

            & li {
                font-size: 14px;
                padding: 0 0 10px 0;
                color: $ridiGray;
            }
           
            
        }
        .asking:hover {
            cursor: pointer;
        }
        .asking li:hover {
            opacity: 0.8;
        }
        .sns {
                width: 400px;
                height: 100%;
                float: left;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 40px 10px;
                // background-color: #fff;
                p {
                    width: 44px;
                    height: 44px;
                    background: none;
                    border-radius: 100%;
                    border: 1px solid rgba(185, 185, 185, 75%);
                    margin: 0 5px;

                    & svg {
                        width: 17px;
                        height: 17px;
                        margin: 12px;
                    }
                    .you {
                        margin: 12px 14px ;
                    }
                    & svg:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }
    }

    #notice {
        width: 1200px;
        height: 140px;
        margin: 0 auto;
        font-size: 13px;
        display: flex;
        align-items: center;
        // background-color: #f6d0de;
        #noit {
            width: 100%;
            height: 50%;
            color: $ridiGray;
            p {
                width: 100%;
                height: 10%;
                svg {
                    width: 12px;
                    
                }
            }
            ul {
                display: flex;
                justify-content: flex-start;
                li {
                     padding: 10px;
                }
            }
        }
        #noit:hover {
            cursor: pointer;
        }
    }
    
}

